@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    place-items: center;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* styling login and signup page */
.login-page,
.signup-page {
    background: cornsilk;
}

.header {
    font-family: "Lilita One", sans-serif;
}

.input-div label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #afafaf;
    transition: .3s;
    background: #fff;
    padding: 0 5px;
    cursor: text;
}

.input-div-clicked label {
    top: 0;
    color: #111;
    font-size: 13px;
}

.auth-button {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #0073e6;
    color: #fff;
    font-weight: 500;
}

.auth-button:hover {
    background: #0054a8;
}

.login-instead,
.signup-instead {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    gap: 4px;
    border-radius: 50px;
    border: 1px solid #DADCE0;
    color: #383838;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* styling expenses */
.page-heading {
    font-family: "Merriweather", serif;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.show-modal-container {
    visibility: visible;
}